<div
  [ngClass]="{
    'sidebar-full': !sidenavCollapsed,
    'sidebar-compact': sidenavCollapsed
  }"
>
  <div class="navigation-panel layout-column">
    <!-- TODO: Allow customization by organization -->
    <div class="app-brand" [routerLink]="['/home']">
      <img src="assets/images/MifosX_logo.png" alt="app-logo" class="app-logo" />
      <span #logo class="app-logo-text text-muted">{{ 'APP_NAME' | translate }}</span>
    </div>

    <div class="app-user">
      <div class="app-user-photo">
        <!-- TODO: Decision to be taken on providing this feature -->
        <img src="assets/images/user_placeholder.png" alt="app-user-photo" />
      </div>
      <span class="app-user-name mb-05"> {{ tenantIdentifier }} / {{ username }} </span>
      <div #userPanel class="app-user-controls">
        <button
          class="xs-button"
          mat-icon-button
          matTooltip="{{ 'tooltips.Settings' | translate }}"
          [routerLink]="['/settings']"
        >
          <fa-icon icon="cog"></fa-icon>
        </button>
        <button class="xs-button" mat-icon-button matTooltip="{{ 'tooltips.Sign Out' | translate }}" (click)="logout()">
          <fa-icon icon="sign-out-alt"></fa-icon>
        </button>
      </div>
    </div>

    <div class="app-sidenav">
      <div #frequentlyAccessed>
        <div class="mt-1 mb-1 nav-item-sep">
          <mat-divider></mat-divider>
          <span class="text-muted icon-menu-title">{{ 'labels.menus.Frequently Accessed' | translate }}</span>
        </div>
      </div>
      <div class="icon-menu">
        <div class="icon-menu-item" *ngFor="let activity of mappedActivities">
          <button
            mat-raised-button
            [matTooltipPosition]="tooltipPosition"
            [matTooltip]="activity.toolTip"
            [routerLink]="[activity.path]"
          >
            <fa-icon [icon]="activity.icon" size="lg"></fa-icon>
          </button>
        </div>
      </div>

      <div class="nav-item-sep">
        <mat-divider></mat-divider>
        <span class="text-muted">{{ 'labels.menus.Main Items' | translate }}</span>
      </div>

      <mat-nav-list>
        <mat-list-item
          [routerLink]="['/dashboard']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Dashboard' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon icon="tachometer-alt" size="sm"></fa-icon>
          </mat-icon>
          <a matLine #dashboard>{{ 'labels.menus.Dashboard' | translate }}</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/clients']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Customers' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon icon="users" size="sm"></fa-icon>
          </mat-icon>
          <a matLine #navigation>{{ 'labels.menus.Customers' | translate }}</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/accounting/journal-entries']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Transactions' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon icon="list" size="sm"></fa-icon>
          </mat-icon>
          <a matLine>{{ 'labels.menus.Transactions' | translate }}</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/reports/Loan']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Loans' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon icon="users" size="sm"></fa-icon>
            <i class="fa-solid fa-landmark"></i>
          </mat-icon>
          <a matLine>{{ 'labels.menus.Loans' | translate }}</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/accounting/chart-of-accounts']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Chart Of Accounts' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon icon="sitemap" size="sm"></fa-icon>
          </mat-icon>
          <a matLine #chartOfAccounts>{{ 'labels.menus.Chart of Accounts' | translate }}</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.AML and KYC' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon icon="user-shield" size="sm"></fa-icon>
          </mat-icon>
          <a matLine>{{ 'labels.menus.AML and KYC' | translate }}</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Cards' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon [icon]="['fab', 'cc-visa']" size="sm"></fa-icon>
          </mat-icon>
          <a matLine #frequentPostings>{{ 'labels.menus.Cards' | translate }}</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/reports']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Reports' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <fa-icon [icon]="['fas', 'database']" size="sm"></fa-icon>
          </mat-icon>
          <a matLine #createJournalEntry>{{ 'labels.menus.Reports' | translate }}</a>
        </mat-list-item>

        <!-- <mat-list-item
          (click)="showKeyboardShortcuts()"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Administration' | translate }}"
        > -->

        <mat-list-item
          [routerLink]="['/system']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Administration' | translate }}"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListIcon>
            <!-- <i class="fa-solid fa-sliders"></i> -->
            <fa-icon [icon]="['fas', 'sliders']" size="sm"></fa-icon>
          </mat-icon>
          <a matLine>{{ 'labels.menus.Administration' | translate }}</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>

<ng-template #templateLogo let-popover="popover">
  <h2>{{ 'labels.text.Home' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Welcome page logo from anywhere' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStep()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateUserPanel, userPanel, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateUserPanel let-popover="popover">
  <h2>{{ 'labels.menus.User Panel' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Section Buttons' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateLogo, logo, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentlyAccessed, frequentlyAccessed, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateFrequentlyAccessed let-popover="popover">
  <h2>{{ 'labels.menus.Frequently Accessed' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut to the frequently accessed components' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateUserPanel, userPanel, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateDashboard, dashboard, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateDashboard let-popover="popover">
  <h2>{{ 'labels.menus.Dashboard' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.User Dashboard Component' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentlyAccessed, frequentlyAccessed, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateNavigation, navigation, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateNavigation let-popover="popover">
  <h2>{{ 'labels.menus.Navigation' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.User Entity navigation screen' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateDashboard, dashboard, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentPostings, frequentPostings, 'top', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateFrequentPostings let-popover="popover">
  <h2>{{ 'labels.menus.Frequent Postings' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut accounting rules' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateNavigation, navigation, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateCreateJournalEntry, createJournalEntry, 'top', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateCreateJournalEntry let-popover="popover">
  <h2>{{ 'labels.menus.Create Journal Entry' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut entry screen' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentPostings, frequentPostings, 'top', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateChartOfAccounts, chartOfAccounts, 'top', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateChartOfAccounts let-popover="popover">
  <h2>{{ 'labels.menus.Chart of Accounts' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut accounts screen' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateCreateJournalEntry, createJournalEntry, 'top', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStep()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
